# Java
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!/**/src/**/bin
!/**/src/**/build
build.log
hs_err_pid*
manifest.yml
MANIFEST.MF

# ignored directories
bin/
build/
target/
.apt_generated/

# Gradle
gradle-app.setting
.gradle/
!gradle-wrapper.jar

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
